<div class="admin-page-container">
  
  <div class="page-header">
    <div class="header-text">
      @if (isDashboardMode) {
        <h2>Dashboard - My Personal Blogs</h2>
        <p>Manage, modify, or delete the blog posts you have written.</p>
      } @else {
        <h2>My Published Insights</h2>
        <p>Here are all the articles you have contributed to the DevPulse community.</p>
      }
    </div>
  </div>

  @if (isLoading) {
    <div class="spinner-container">
      <div class="custom-spinner"></div>
      <p>Loading your blogs...</p>
    </div>
  } @else {
    
    <div class="table-responsive glass-card">
      <table class="admin-table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Category</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (blog of myBlogs; track blog.id) {
            <tr>   
              <td class="blog-title">{{ blog.title | truncate:40 }}</td>
              <td><span class="category-badge">{{ blog.categoryName }}</span></td>
              <td>
                <div class="action-buttons">
                  @if(isDashboardMode)
                  {
                    <button class="btn-action btn-edit" [routerLink]=  "['/admin/updateBlog', blog.id]">
                      Edit
                    </button>
                  }
                  @else 
                  {
                     <button class="btn-action btn-edit" [routerLink]=  "['/profile/updateBlog', blog.id]">
                        Edit
                     </button>
                  }
                  <button class="btn-action btn-delete" (click)="deleteBlog(blog.id)">
                    Delete
                  </button>
                </div>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="4" class="empty-row">
                <div class="empty-state-content">
                  <p>You haven't written any blogs yet.</p>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

  }
</div>